<div class="grid-item size11 photography">
    <div class="grid-box">
        <figure class="portfolio-figure">
            <img src="/img/uploads/portfolio/th.jpg" alt=""/>
            <figcaption class="portfolio-caption">
                <div class="portfolio-caption-inner">
                    <h3 class="portfolio-title">By the window door</h3>
                    <h4 class="portfolio-cat">Photography</h4>

                    <div class="btn-group">
                        <a class="portfolioFancybox btn-zoom" data-fancybox-group="portfolioFancybox4" href="#portfolio4-inline1"><i class="rsicon rsicon-eye"></i></a>
                    </div>
                </div>
            </figcaption>
        </figure>

        <div id="portfolio4-inline1" class="fancybox-inline-box">
            <div class="inline-embed" data-embed-type="image" data-embed-url="/img/uploads/portfolio/th.jpg"></div>
            <!--<div class="inline-cont">
            </div>-->
        </div>
    </div>
</div>
